body {
    background-color: #A9A9A9;
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    position: absolute;
	left: 32%;
	top: 35%
    
}

input, button, label {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}